@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

body{
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('imagens/img_01.avif'), url('imagens/img_01.avif');
    background-repeat: repeat-y, repeat-y;
    background-position: right, left;
    background-size: 4%;
    margin-left: 5%;
    margin-right: 5%;
}

h1{
    color: blueviolet;
    text-align: center;
    background-color: aqua;
    font-family: "Science Gothic", sans-serif;
}

p{
    line-height: 1.5;
}

.subt1{
    text-align: center;
}

a:link, a:hover, a:active, a:visited {
    text-decoration: none;
}

a:link, a:visited {
    color: rgb(76, 130, 163);
}

a:hover, a:active {
    background-color: aquamarine;
    color: black;
}

.list_links{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20%;
    background-color: aqua;
}

.imgs{
    width: 6.3%;
    height: auto;
}

.img_topicos{
    width: 40%;
    height: auto;
}

.logo{
    width: 2%;
    height: auto;
}

.animes{
    border-collapse: collapse;
    margin-left: 5%;
    margin-right: 5%;
}

.animes th{
    background-color: black;
    color: white;
    text-align: center;
}

.animes tr{
    border-bottom: 1px solid black;
}

.animes td, .animes th {
    padding: 10px;
    text-align: center;
}

.animes tr:nth-child(even){
    background-color: white;
}

.animes tr:nth-child(odd){
    background-color: lightgray;
}

.roda{
    text-align: center;
    font-style: italic;
    color: darkmagenta;
}

